.tBusquedaActivo {
    border-collapse: collapse;
  }
  
  .tBusquedaActivo, th, td {
    border: 1px solid lightgray;
  }

  .tdCeldaLabel{
      font-size: 10px;
      background-color: lightgray;
  }

  body .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-list-item {
 
    padding: 0px 0px;
    
}

.old-car {
  background-color:darkgoldenrod !important;
  color: #ffffff !important;
}