<ngx-spinner></ngx-spinner>
<div class="card">
  
  <div class="card-header">
    <h6>Actas de cambio de estados</h6>
  </div>
  <div class="card-body">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="col-sm-12">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <button class="btn btn-outline-light btn-sm" [routerLink]='["/acta"]'>
                <i class="fa fa-plus"></i>
                Nueva acta
              </button>
              <button class="btn btn-outline-light btn-sm" (click)="op.toggle($event)">
                <i class="fa fa-filter" ></i>
                Filtro
              </button>
            </div>
        </div>
    </nav>
    <p-table #dt [value]="lista"  [showLoader]="true" [rowHover]="true"  >
      <ng-template pTemplate="header">
        <tr>
          <th width=50px >Id</th>
          <th width=90px [pSortableColumn]="'fechaActa'">FechaActa
            <p-sortIcon [field]="'fechaActa'"></p-sortIcon>
          </th>
          <th width=200px [pSortableColumn]="'numeroActa'">NumeroActa
            <p-sortIcon [field]="'numeroActa'"></p-sortIcon>
          </th>
          <th>Comentarios</th>
          <th width=100px [pSortableColumn]="'estado'">Estado 
            <p-sortIcon [field]="'estado'"></p-sortIcon>
            <!-- <p-multiSelect [options]="lestados" (onChange)="dt.filter($event.value, 'estado', 'in')"></p-multiSelect> -->
          </th>
          <th width=100px style="text-align: right;">#Activos</th>
          <th width=100px style="text-align: right;">TotalValor</th>
          <th width=50px ></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item >
        <tr class="ui-selectable-row">
          <td class="td_oneline">{{item.id}}</td>
          <td class="td_oneline">{{item.fechaActa | date : 'dd/MM/yyyy'}}</td>
          <td>{{item.numeroActa}}</td>
          <td>
            <span>{{item.comentarios}}</span><br>
            <span style="font-size: 9px;">De: {{item.EstadoInicial.descripcion}} a {{item.EstadoFinal.descripcion}}</span><br>
            <span *ngIf='item.estado === "A"' style="font-size: 9px;">Aprobado {{item.fechaAprueba | date: 'dd/MM/yyyy'}} por {{item.usuarioAprueba}}</span><br>
          </td>
          <td >
            <span *ngIf='item.estado === "A"' class="badge badge-pill badge-success">Aprobado</span>
            <span *ngIf='item.estado === "I"' class="badge badge-pill badge-secondary">Ingresado</span>
          </td>
          <td style="text-align: right;">{{item.numeroActivos | number : '0.0'}}</td>
          <td style="text-align: right;">{{item.totalValor | number :'0.2'}}</td>
          <td style="text-align: center;">
            <button class="btn btn-outline-secondary btn-xs" (click)="clickVer(item)"><i class="fa fa-search"></i></button>
          </td>
        </tr>  
      </ng-template>
    </p-table>
  </div>
</div>
<p-overlayPanel #op [appendTo]="'body'">
  <!-- <p-listbox [options]="lestados" multiple="multiple" checkbox="checkbox"  optionLabel="label" (onChange)="dt.filter(($event.value.map(function(a){return a.value})), 'estado', 'in')">
  </p-listbox> -->
  <p-multiSelect [options]="lestados" [overlayVisible]="true" [filter]="false" (onChange)="dt.filter($event.value, 'estado','in')"></p-multiSelect>
</p-overlayPanel>