<ngx-spinner name="spForm" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium" >
    <p class="loading">Cargando datos...</p>
</ngx-spinner>

<p-dialog header="Activo a migrar" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">CodInteragua</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext"  value={{vistaActivo?.interagua}}>
                </div>                        
                <label class="col-sm-2 col-form-label">SubGrupo</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext"  value={{vistaActivo?.subGrupo}}>
                </div>                        
                <label class="col-sm-2 col-form-label">Clasificacion</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext"  value={{vistaActivo?.clasificacion}}>
                </div>                        
                <label class="col-sm-2 col-form-label">Activo</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext"  value={{vistaActivo?.activo}}>
                </div>                        
                <label class="col-sm-2 col-form-label">Caracteristicas</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext"  value={{vistaActivo?.caracteristicas}}>
                </div>                        
                <label class="col-sm-2 col-form-label">Marca</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext"  value={{vistaActivo?.marca}}>
                </div>                        
                <label class="col-sm-2 col-form-label">Modelo</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext"  value={{vistaActivo?.modelo}}>
                </div>                        
                <label class="col-sm-2 col-form-label">Serie</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext"  value={{vistaActivo?.serie}}>
                </div>                        
                <label class="col-sm-2 col-form-label">Custodio</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext"  value={{vistaActivo?.custodio}}>
                </div>                        
                <label class="col-sm-2 col-form-label">Condicion</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext"  value={{vistaActivo?.condicion}}>
                </div>                        
                <label class="col-sm-2 col-form-label">FecCompra</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext"  value={{vistaActivo?.fechaCompra|date}}/>
                </div>                        
                <label class="col-sm-2 col-form-label">valorCompra</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext"  value={{vistaActivo?.valorCompra}}>
                </div>   
                <label class="col-sm-2 col-form-label">TipoActivo</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext"  value={{vistaActivo?.TipoAct?.descripcion}}>
                </div>                        
                <label class="col-sm-2 col-form-label">ClaseActivo</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext"  value={{vistaActivo?.ClaseAct?.descripcion}}>
                </div>                        
            </div>
            <p-table [value]="activoEma">
                <ng-template pTemplate="caption">
                    Activo Emapag
                </ng-template>                
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5em">CodEma</th>
                        <th>Tipo</th>
                        <th>Clase</th>
                        <th style="width: 8em">FechaCompra</th>
                        <th style="width: 10em; text-align: right;">ValorCompra</th>
                        <th>Situacion</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                        <tr>
                            <td style="width: 2em">{{rowData.codEcapag}}</td>
                            <td>{{rowData.tipoActivo}}</td>
                            <td>{{rowData.claseActivo}}</td>
                            <td>{{rowData.fechaIngreso |  date : 'dd/MM/yyyy'}}</td>
                            <td style="width: 10em; text-align: right;">{{rowData.valorCompra | number :'0.2' }}</td>
                            <td>{{rowData.estadoSituacion}}</td>
                        </tr>
                </ng-template>                
            </p-table>
        </div>
    </div>
    <p-footer>
        <button type="button" pButton icon="pi pi-times" (click)="displayModal=false" label="Cerrar" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

<div class="card">
  <div class="card-header">
    <h6>Archivo</h6>
  </div>
  <div class="card-body">
      <div class="row" *ngIf="archivo?.migrado === 'S'">
          <div class="col-md-8">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Id</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext"  value={{archivo.id}}>
                    </div>                        
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Archivo </label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext"  value={{archivo.archivo}}>
                        </div>                        
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Fecha </label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext"  [value]="archivo.fechaIngreso | date : 'dd/MM/yyyy'">
                        </div>                        
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Observacion</label>
                        <div class="col-sm-10">
                            <textarea readonly class="form-control-plaintext"  [value]="archivo.observacion | titlecase" rows="4"></textarea>
                        </div>                        
                    </div>


          </div>
          <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Creado</label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext"  [value]="archivo.fechaIngreso | date : 'dd/MM/yyyy'">
                    </div>                        
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Por</label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext"  [value]="archivo.usuarioIngreso">
                    </div>                        
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Aprobado</label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext"  [value]="archivo.fechaAprueba | date : 'dd/MM/yyyy'">
                    </div>                        
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Por</label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext"  value={{archivo.usuarioAprueba}}>
                    </div>                        
                </div>
            </div>

      </div>
  </div>  
  <div class="card-footer">
      <div class="row">
          <div class="col-md-8">
              <div class="form-group row mt-1">
                  <div class="col-md-6 pull-right">
                        <button class="btn btn-outline-secondary " (click)="cancelar()">
                                <i class="fa fa-long-arrow-left"></i>
                                Cancelar
                        </button>

                  </div>

              </div>

          </div>

      </div>
  </div>
</div>

<div class="card">
    <div class="card-header">
        <h6>Lista de activos</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                    <p-table #dt [value]="archivo?.Detalle"   
                    [showLoader]="true" 
                    [rowHover]="true" 
                    [scrollable]="true"                     
                    [(selection)]="activosSeleccionados"
                    scrollHeight="{{tamanioScroll}}px"
                    dataKey="subGrupo"
                    class="mt-3"  >
                        <ng-template pTemplate="header">
                            <tr>
                            <th style="width: 2em">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th style="width: 5em">Codigo</th>
                            <th style="width: 15em">Subgrupo</th>
                            <th style="width: 15em">Clasificacion</th>
                            <th >Activo</th>
                            <th style="width: 7em">FecCompra</th>
                            <th >TipoActivoEma</th>
                            <th >ClaseActivoEma</th>
                            <th style="width: 10em; text-align: right;">Valor</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded" >
                            <tr *ngIf="rowGroupMetadata[rowData.subGrupo].index === rowIndex" [style.background-color]="'#eaeaea'">
                                <td style="width: 2em" ></td>
                                <td style="width: 5em"></td>
                                <td colspan="2" style="width: 30em" [style.background-color]="'#eaeaea'">
                                    <a href="#" [pRowToggler]="rowData" >
                                        <i [ngClass]="expanded ? 'pi pi-fw pi-chevron-circle-down' : 'pi pi-fw pi-chevron-circle-right'"  style="vertical-align: middle;padding-bottom: .1em;"></i>
                                        <span>{{rowData.subGrupo}}</span>
                                    </a>
                                </td>
                                <td style="text-align: right;">
                                <span style="font-weight: bold"> {{rowGroupMetadata[rowData.subGrupo].size}}</span>
                                </td>
                                <td style="width: 7em"></td>
                                <td ></td>
                                <td ></td>
                                <td style="width: 10em; text-align: right;">
                                    <span style="font-weight: bold"> {{rowGroupMetadata[rowData.subGrupo].valor  | number :'0.2' }}</span>
                                </td>
                            </tr>
                        </ng-template>                        
                        <ng-template pTemplate="rowexpansion" let-rowData let-rowIndex="rowIndex" >
                            <tr [pSelectableRow]="rowData">
                            <td style="width: 2em">
                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                            </td>
                            <td style="width: 5em">{{rowData.interagua}}</td>
                            <td style="width: 15em">
                                <a [routerLink]="" (click)="verActivo(rowData)">
                                    {{rowData.subGrupo | titlecase}}
                                </a>
                            </td>
                            <td style="width: 15em">{{rowData.clasificacion | titlecase}}</td>
                            <td >{{rowData.activo | titlecase}}</td>
                            <td style="width: 6em">{{rowData.fechaCompra | date : 'dd/MM/yyyy'}}</td>
                            <td ><span style="color: green">{{rowData.TipoAct?.descripcion | titlecase}}</span></td>
                            <td ><span style="color: green">{{rowData.ClaseAct?.descripcion | titlecase}}</span></td>
                            <td style="width: 10em; text-align: right;">{{rowData.valorCompra | number :'0.2' }}</td>
                            </tr>  
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <td style="width: 2em" ></td>
                                <td style="width: 5em"></td>  
                                <td style="width: 30em" colspan="2">
                                    # de activos 
                                </td>
                                <td style="text-align: right;"> {{archivo?.numeroActivos}}</td>
                                <td style="width: 7em"></td>
                                <td ></td>
                                <td >Total</td>
                                <td style="width: 10em; text-align: right;">{{archivo?.totalActivos | number :'0.2' }}</td>
                            </tr>
                        </ng-template>
                        </p-table>
    
            </div>

        </div>

    </div>
</div>